@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .input {
        @apply w-full rounded-md border border-gray-300 px-3 py-2 text-sm
        focus:outline-none focus:ring-2 focus:ring-blue-500;
    }

    .th {
        @apply px-3 py-2 font-semibold text-sm;
    }

    .td {
        @apply px-3 py-2 text-gray-700 whitespace-nowrap;
    }

    .btn-secondary {
        @apply px-3 py-1.5 rounded-md border border-gray-300
        text-sm hover:bg-gray-100;
    }
}

@media print {
  body {
    background: white !important;
  }

  button,
  nav,
  .no-print {
    display: none !important;
  }

  table {
    page-break-inside: auto;
  }

  tr {
    page-break-inside: avoid;
    page-break-after: auto;
  }
  .late-row {
    background-color: #f8d7da !important;
    color: #721c24 !important;
    font-weight: bold;
  }
}
